@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Plus+Jakarta+Sans:wght@800&family=Rajdhani:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #59e0f2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.menu-body {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.title {
  font-family: "Plus Jakarta Sans", sans-serif;

  letter-spacing: 0.2rem;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  z-index: 1001;
}
.logo-placement {
  display: flex;
  justify-content: center;
}
.company-logo {
  display: flex;
  border: 1px black solid;
  width: 110px;
  height: 120px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: -20px 0 30px 0;
  z-index: 1001;
}

.visitor-database,
.monitoring-mode,
.analytics {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  z-index: 1020;
  width: 288px;
  height: 230px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 35px;
  color: black;
  transition: transform 0.2s;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.508), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.visitor-database {
  background-color: #59e0f2;
}

.visitor-database:hover,
.monitoring-mode:hover,
.analytics:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.508),
    0 6px 6px 0 rgba(0, 0, 0, 0.308);
}

.monitoring-mode {
  background-color: #facf36;
}

.analytics {
  background-color: #fe54d9;
}

.links {
  text-decoration: none;
}
.link {
  border: 1 px solid black;
  border-radius: 40px;
}
.menu-options {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  gap: 7em;
  margin-right: 2px;
  z-index: 999;
  border-radius: 40px;
}

.menu-options2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
}

.greeting {
  color: gray;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
}

.logout-btn-placement {
  display: flex;
  justify-content: center;
}

.logout-btn {
  color: white;
  background-color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  display: flex;
  border: 1px black solid;
  width: 114px;
  height: 56px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: transform 0.2s;
}

.logout-btn:hover {
  transform: scale(1.1);
}

/* WAVE */
/* .wave-section {
  position: relative;
  width: 100%;
  height: 130px;

  overflow: hidden;
  bottom: 0px;
  background-color: #facf36;
} */

/* TABLET */
@media only screen and (min-width: 709px) and (max-width: 1124px) {
  .menu-body {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .menu-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
    top: 50%;
    left: 50%;
    transform: translate(-75%, 0%);
    padding-bottom: 30px;
    /* display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-125%, -50%);
    align-items: center;
    justify-content: center;

    flex-direction: column; */
  }

  .user {
    margin-top: 2em;
  }

  .admin {
    margin-top: 1em;
  }

  .logout-btn {
    margin-bottom: 0;
  }

  .title {
    font-size: 1em;
  }

  .greeting {
    padding-top: 2rem;
  }
}

/* Mobile */
@media screen and (min-width: 280px) and (max-width: 708px) {
  .menu-body {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    z-index: -1001;
  }
  .menu-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
  }

  .menu-options2 {
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: sticky;
    bottom: 0;
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 2em;
  }

  .logout-btn {
    margin-bottom: 1rem;
  }

  .title {
    font-size: 1em;
  }

  .greeting {
    padding-top: 1.3rem;
  }
  /*  .wave.wave1, .wave.wave2, .wave.wave3, .wave.wave4 {
    
  } */

  /*   .wave {
    height: 200px;
    background-size: 1000px 200px;
  } */
}
