.remove-user-modal-results {
  position: fixed;
  margin: 0 auto;
  display: flex;
  z-index: 2000;
  background-color: #ffffff;
  gap: 1em;
  padding: 1em;
  width: 80%;
  height: 80%;
  border-radius: 5px;
  flex-direction: column;
  transform: translate(0%, 0%);
  font-size: 15px;
}

.background-modal-results {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.316);
  width: 110vw;
  height: 100%;
  z-index: 2000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-button-placement-results {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 20px;
  justify-content: center;
  gap: 1em;
}

.table-headings-placement {
  max-height: 200px;
  display: flex;
  justify-content: center;
}

.table-body-placement {
  max-height: 350px;
  display: flex;
  justify-content: center;
  /*   padding-left: 1.2%; */
  /*   border: 1px solid black; */
}

.table-headings-placement td {
  /*ok*/
  position: relative;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  max-width: 12em;
  min-width: 12em;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.table-body-placement td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  max-width: 12em;
  min-width: 12em;
  position: relative;
  word-wrap: break-word;
}

@media screen and (min-width: 280px) and (max-width: 708px) {
  .cell-border {
    max-width: 200px;
    height: 200px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .cell-border > div {
    flex: 0 0 3em;
  }

  .back-drop {
    width: 300px;
    height: 240px;
  }

  .cell-title-border {
    display: none;
  }

  .remove-user-modal-results {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;

    width: 80%;
    height: 80%;
    border-radius: 5px;
    flex-direction: column;
    text-align: center;
  }

  .modalButton {
    color: white;
    background-color: black;

    border: 1px black solid;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    width: 75px;
  }
  .modal-button-placement-results {
    display: flex;

    justify-content: center;
    gap: 1em;

    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0%);
  }

  .cellButton {
    color: white;
    background-color: black;

    border: 1px black solid;

    border-radius: 10px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 120px;
    align-items: center;
    transition: transform 0.2s;
  }
}

@media only screen and (min-width: 709px) and (max-width: 1124px) {
  .cell-border {
    max-width: 550px;
    height: 5em;
  }

  .cell-border > div {
    flex: 0 0 10em;
  }

  .back-drop {
    width: 650px;
  }

  /*  */
  .remove-user-modal-results {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;

    width: 80%;
    height: 80%;
    border-radius: 5px;
    flex-direction: column;
  }

  .modalButton {
    color: white;
    background-color: black;

    border: 1px black solid;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    width: 120px;
  }
}

@media screen and (min-width: 280px) and (max-width: 708px) {
}
